*{
    font-family: sans-serif;
    
}
nav{
    position: sticky;
    top: 0;
}
body{
    background-color: rgb(158, 158, 158);
}

.myCard{
	display: flex;
	justify-content: space-around; /*center, space-between, space-around*/
	align-items: center; /*flex-end*/
    text-align: center;
    margin-top: 20px;

    padding: 30px;
    border-style: solid;
    border-color: black;
    border-radius: 30px;
    border-width: 8px;
    margin-left: 3%;
    margin-right: 3%;


}
#myCardText{
    min-height: 350px;
    max-width: 30%;
    border-style: solid;
    border-radius: 30px;

    background-color: white;
    
}
#welcomeImg{
    max-width: 50vw;
    border-width: 5px;
	border-style: solid;
	border-color: black;
    border-radius: 30px;
    box-shadow: 10px 10px 20px #babecc,
                -10px -10px 20px #ffffff;
}

h1{
    background-color: gray;
    text-align: center;
    border-style: solid;
    border-radius: 30px;
    margin: 10px;
    padding: 5px;
}

h3{
    color: white;
    background-color: red;
    margin-top: 10%;
    margin-bottom: 10%;
    padding-top: 20px;
    padding-bottom: 20px;
}
.myCardText > h1, h3{
    border-style: solid;
    border-radius: 30px;
    margin: 10px;
    padding: 5px;
    border-color: black;
}



section{
    margin-bottom: 10px;
}

#engineDesc{
    margin-top: 20px;
    font-size: medium;
}

hr{
    color: black;
}

iframe{
/*    max-width: 20%;
    max-height: 50%; */
    padding-left: 30px;
}
#moreContent{
/*    display: grid;*/

}


#moreContent > h1{
    background-color: rgb(158, 158, 158);
    border-style: none;


}
.littleCard{
    border-radius: 30px;
    border-style: solid;
    height: 250px;
    padding: 10px;
    max-width: 400px;
    margin-left: 30px;
    margin-right: 30px;
    background-color: white;
    margin-bottom: 20px;

}

.littleCard > h1{
    border: solid;
    background-color: rgb(158, 158, 158);
    font-size: 15px;
    max-height: 50px;
    padding-bottom: 20px;
}*/

#videosGrid{
    /*display: flex;
    justify-content: d; /*center, space-between, space-around
*/

    display: grid;
}
/*
p{
    position: relative;
    top: 50%;
    left: 50%;
}
*/
.v8card{
    flex-direction: row-reverse;
}
/**/