*{
    font-family: sans-serif;
    
}
nav{
    position: sticky;
    top: 0;
}

.myCard{
	display: flex;
	justify-content: space-around; /*center, space-between, space-around*/
	align-items: center; /*flex-end*/
    text-align: center;
    margin-top: 20px;

    padding: 30px;
    border-style: solid;
    border-color: black;
    border-radius: 30px;
    border-width: 8px;
    margin-left: 3%;
    margin-right: 3%;
}
#myCardText{
    min-height: 350px;
    max-width: 30%;
    border-style: solid;
    border-radius: 30px;

    
}
#welcomeImg{
    max-width: 50vw;
    border-width: 5px;
	border-style: solid;
	border-color: black;
    border-radius: 30px;
    box-shadow: 10px 10px 20px #babecc,
                -10px -10px 20px #ffffff;
}

h1, h3{
    border-style: solid;
    border-radius: 30px;
    margin: 10px;
    padding: 5px;
    border-color: black;
}

h3{
    color: white;
    background-color: red;
    margin-top: 10%;
    margin-bottom: 10%;
    padding-top: 20px;
    padding-bottom: 20px;
}

.heroText{
    background: white;
}


section{
    margin-bottom: 10px;
}
/*
p{
    position: relative;
    top: 50%;
    left: 50%;
}

.v8card{
    flex-direction: row-reverse;
}
*/